@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PoliteType';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/PoliteType/PoliteType-Regular.ttf');
  }
}